<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/header :: header (title='Login')"></div>

    <body>
        <div class="container">
            <!--/*@thymesVar id="contactUser" type="hu.suaf.springblog.model.ContactUser"*/-->
            <form action="#" th:action="@{/login}" th:object="${contactUser}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}" >
                    <span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}">
                    <span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a th:href="@{/register}" class="btn btn-secondary">Register</a>
            </form>
        </div>
    </body>
</html>